.new-expense {
  background-color: #1B125A;
  color: white;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.75);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  background-color: #4033AC;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  transition: .2s ease-in-out;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #4B3EBE;
}